<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>BugCoin Onlinebanking</title>
    <link rel="stylesheet" href="/style/main.css">
</head>
<body>
<div id="header" class="center">
</div>
<div id="container" class="center">
    <!-- top navigation -->
    <div id="nav-top">
        <ul>
            <li><a href="/banking/payments">Banking</a></li>
            <li class="active"><a href="/account/settings">Account</a></li>
            <li>Verwaltung</li>
        </ul>
    </div>

    <!-- left side navigation menu -->
    <div id="nav-left" class="sidenav">
        <div class="title">Banking</div>
        <ul>
            <li class="active">Einstellungen</li>
            <li>Account deaktivieren</li>
        </ul>
    </div>

    <!-- content in the center -->
    <div id="content">
        <h1>Account > Einstellungen</h1>

    </div>

    <!-- right side info-box -->
    <div id="nav-right" class="sidenav">
        <div class="title">Account</div>
        Max Mustermann<br /><br />

        Zu Ihrer Sicherheit erfolgt die automatische Abmeldung in 5 Min.<br /><br />
        <input type="button" value="Abmelden" onclick="window.location='/logout'" /> <br /><br /><br />

        <div class="title">Finanzstatus</div>
        <table style="font-size: 11px; width: 100%;">
            <tr style="font-weight: bold;">
                <td>Konto</td>
                <td align="right">Kontost. (EUR)</td>
            </tr>

            <tr>
                <td>546886</td>
                <td align="right">14.949,00</td>
            </tr>
            <tr>
                <td>980234</td>
                <td align="right">678,32</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
