<!DOCTYPE html>
<html lang="en" xmlns:th="http://java.sun.com/JSP/Page">
<head>
    <meta charset="utf-8">
    <title>BugCoin Onlinebanking</title>
    <link rel="stylesheet" href="/style/main.css">
</head>
<body>
<div id="header" class="center">
</div>
<div id="container" class="center">
    <!-- top navigation -->
    <div id="nav-top">
        <ul>
            <li><a href="/">Anmeldung</a></li>
            <li class="active"><a href="/register">Registrieren</a></li>
        </ul>
    </div>

    <!-- left side navigation menu -->
    <div id="nav-left" class="sidenav">

    </div>

    <!-- content in the center -->
    <div id="content">
        <h1>Two-Factor Authentifizierung</h1>
        Damit wir maximale Sicherheit gewährleisten können müsst du eine Zwei-Faktor Authentifizierung einrichten.
        Dazu reicht es die App Google Authenticator auf deinem Handy einzurichten und den untenstehenden Barcode zu scannen.
        Bei jedem Login wirst du nach deinem für 60s gültigem OTP gefragt, das auf deinem Handy angezeigt wird.<br /><br />

        <form method="post">
            <!-- Formular: Person -->
            <div class="title">Informationen</div><br />

            <img th:attr="src=${qrcode}" style="width: 200px; height: 200px;" />

            <table style="float:right; margin-right: 30px; width: 305px;">
                <tr>
                    <td><label>Geheimer Schlüssel:</label></td>
                    <td><input type="text" th:value="${secretkey}" style="width: 170px;" readonly /></td>
                </tr>
                <tr>
                    <td style="vertical-align: top;"><label>Notfall Tokens:</label></td>
                    <td><textarea style="width: 168px;" rows="7" readonly></textarea></td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        Hebe deinen geheimen Schlüssel und die Notfall-Tokens an einem sicheren Ort auf! Am besten druckst
                        du sie aus und hinterlegst sie in einem Bankschließfach oder Safe.
                    </td>
                </tr>
            </table>

            <br /><br /><br />

            <!-- Buttons -->
            <div class="controls">
                <input type="reset" value="Zurück" />
                <input type="submit" value="Fertigstellen" />
            </div>
        </form>
    </div>

    <!-- right side info-box -->
    <div id="nav-right" class="sidenav">
        <div class="title">Registrieren</div>
        Hast du noch kein Account bei BugCoin? Dann kannst du mit nur ein paar Klicks hier einen neuen erstellen.
        <br /><br />
        <input type="button" value="Registrieren" onclick="window.location='/register'" />
    </div>
</div>
</body>
</html>
