<div xmlns:th="http://java.sun.com/JSP/Page">
<div class="title">Account</div>
<span th:text="${me.getFirstname() + ' ' + me.getLastname()}"></span><br /><br />

Zu Ihrer Sicherheit erfolgt die automatische Abmeldung in<br /><span id="force-logout">10</span> Min.<br /><br />
<input type="button" value="Abmelden" onclick="window.location='/logout'" /> <br /><br /><br />

<div class="title">Finanzstatus</div>
<table style="font-size: 11px; width: 100%;">
    <tr style="font-weight: bold;">
        <td>Konto</td>
        <td align="right">Kontost. (EUR)</td>
    </tr>

    <tr th:each="account : ${accounts}">
        <td th:text="${account.getAccountnumber()}"></td>
        <td align="right"><span th:text="${#numbers.formatDecimal(account.getBalance(), 0, 'POINT', 2, 'COMMA')}"></span></td>
    </tr>
</table>
</div>