<!DOCTYPE html>
<html lang="en" xmlns:th="http://java.sun.com/JSP/Page">
<head>
    <meta charset="utf-8">
    <title>BugCoin Onlinebanking</title>
    <link rel="stylesheet" href="/style/main.css">
</head>
<body>
<div id="header" class="center">
</div>
<div id="container" class="center">
    <!-- top navigation -->
    <div id="nav-top">
        <ul>
            <li><a href="/">Anmeldung</a></li>
            <li><a href="/register">Registrieren</a></li>
        </ul>
    </div>

    <!-- left side navigation menu -->
    <div id="nav-left" class="sidenav">

    </div>

    <!-- content in the center -->
    <div id="content">
        <h1>Bug Bounty</h1>
        <p>Bug per Email melden und am Bug Bounty Programm teilnehmen.</p>
        <p>Belohnung: bis zu 1337€ + evtl. IT-Security Job</p>
        <br/><br/>
        <a href="mailto:bugcoin@1vh.de?subject=Bug%20Bounty%20"> Bug melden </a>
    </div>

    <!-- right side info-box -->
    <div id="nav-right" class="sidenav">
        <div class="title">Registrieren</div>
        Hast du noch kein Account bei BugCoin? Dann kannst du mit nur ein paar Klicks hier einen neuen erstellen.
        <br/><br/>
        <input type="button" value="Registrieren" onclick="window.location='/register'"/>
    </div>
</div>
</body>
</html>
