<!DOCTYPE html>
<html lang="en" xmlns:th="http://java.sun.com/JSP/Page">
<head>
    <meta charset="utf-8">
    <title>BugCoin Onlinebanking</title>
    <link rel="stylesheet" href="/style/main.css">
</head>
<body>
<div id="header" class="center">
</div>
<div id="container" class="center">
    <!-- top navigation -->
    <div id="nav-top">
        <ul>
            <li class="active"><a href="">Fehler</a></li>
        </ul>
    </div>

    <!-- left side navigation menu -->
    <div id="nav-left" class="sidenav">

    </div>

    <!-- content in the center -->
    <div id="content">
        <h1>Fehler</h1>
        Leider ist ein Fehler beim Verarbeiten Ihrer Anfrage aufgetreten. Bitte versuchen Sie es erneut.<br /><br />
        <a href="javascript:window.history.back();">Zurück</a>

    </div>

    <!-- right side info-box -->
    <div id="nav-right" class="sidenav">

    </div>
</div>
</body>
</html>
