<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>BugCoin Onlinebanking</title>
    <link rel="stylesheet" href="/style/main.css">
	<script type="text/javascript" src="/js/logout.js"></script>
  </head>
  <body>
    <div id="header" class="center">
    </div>
    <div id="container" class="center">
    	<!-- top navigation -->
    	<div id="nav-top">
    		<ul>
    			<li class="active"><a href="/banking/transactions">Banking</a></li>
				<li><a href="/account/settings">Account</a></li>
    			<li>Verwaltung</li>
    		</ul>
    	</div>

    	<!-- left side navigation menu -->
    	<div id="nav-left" class="sidenav">
    		<div class="title">Banking</div>
    		<ul>
				<li class="active"><a href="/banking/transactions">Umsätze anzeigen</a></li>
				<li><a href="/banking/transfer">Überweisung</a></li>
    			<li><a href="/banking/coupon">Gutschein einlösen</a></li>
    		</ul>
		</div>

    	<!-- content in the center -->
    	<div id="content">
    		<h1>Guten Abend Herr Mustermann,</h1>
    		Sie waren zuletzt angemeldet am 18.09.2016 um 21:54 Uhr.<br />
			Die letzte Überweisung wurde mittels OTP-Verfahren am 17.09.2016 um 22:11 Uhr getätigt.<br /><br />

			<div class="title">Filter</div>
            <form>
			<table style="width: 100%;">
                <!--/*@thymesVar id="accounts" type="edu.hm.bugcoin.domain.Bankaccount"*/-->
                <tr>
					<td><label>Konto:</label></td>
					<td>
						<select style="width: 150px;" onchange="window.location='?account=' + this.value">
                            <option th:each="account : ${accounts}"
                                    th:attr="value=${account.getAccountNumber()}, selected=${account.equals(selectedAccount) ? true : false}"
                                    th:text="${account.getAccountNumber()}">
                            </option>
                        </select>
					</td>
                    <td><label>Seit:</label></td>
                    <td>
                        <input type="text" placeholder="TT.MM.YYYY" />
                    </td>
				</tr>
                <tr>
                    <td><label>Art:</label></td>
                    <td>
                        <select style="width: 150px;">
                            <option>Ausgabe</option>
                            <option>Einkommen</option>
                        </select>
                    </td>
                </tr>
			</table>
            </form><br />

			<div class="title">Umsätze</div><br/>
			<table>
				<tr>
					<th>Zeitpunkt</th>
                    <th>An / Von</th>
					<th>Verwendungszweck</th>
					<th style="width: 110px;">Betrag</th>
				</tr>

                <!--/*--><!--@thymesVar id="transactions" type="edu.hm.bugcoin.domain.Transaction"--><!--*/-->
                <tr th:each="transaction : ${transactions}"
                    th:with="target=${transaction.getTargetAccount()},
                             source=${transaction.getSourceAccount()}">
                    <td>--.--.----</td>
                    <td th:if="${source.equals(selectedAccount)}">
                        <span th:text="${target.getCustomer().getFirstname()}"></span>
                        <span th:text="${target.getCustomer().getLastname()}"></span><br />
                        <span th:text="${target.getAccountNumber()}"></span>
                    </td>
                    <td th:if="${!source.equals(selectedAccount)}">
                        <span th:text="${source.getCustomer().getFirstname()}"></span>
                        <span th:text="${source.getCustomer().getLastname()}"></span><br />
                        <span th:text="${source.getAccountNumber()}"></span>
                    </td>
                    <td><span th:utext="${#strings.replace(transaction.getDescription(), '\n', '<br />')}"></span></td>
                    <td th:style="${source.equals(selectedAccount) ? 'color: red;' : ''}">
                        <span th:if="${source.equals(selectedAccount)}">-</span>
                        <span th:if="${!source.equals(selectedAccount)}">+</span>
                        <span th:text="${#numbers.formatDecimal(transaction.getAmount(), 0, 'POINT', 2, 'COMMA')}"></span> EUR
                    </td>
                </tr>
			</table>
    	</div>

    	<!-- right side info-box -->
    	<div id="nav-right" class="sidenav" th:include="layout/sidebar"></div>
    </div>
  </body>
</html>
