<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>BugCoin Onlinebanking</title>
    <link rel="stylesheet" href="/style/main.css">
    <script type="text/javascript" src="/js/logout.js"></script>
</head>
<body>
<div id="header" class="center">
</div>
<div id="container" class="center">
    <!-- top navigation -->
    <div id="nav-top">
        <ul>
            <li class="active"><a href="/admin/user">Verwaltung</a></li>
        </ul>
    </div>

    <!-- left side navigation menu -->
    <div id="nav-left" class="sidenav">
        <div class="title">Verwaltung</div>
        <ul>
            <li><a href="/admin/user">Benutzer Verwaltung</a></li>
            <li class="active"><a href="/admin/voucher">Gutschein Verwaltung</a></li>
        </ul>
    </div>

    <!-- content in the center -->
    <div id="content">
        <h1>Hallo Admin,</h1>
        Sie waren zuletzt angemeldet am 18.09.2016 um 21:54 Uhr.<br/>
        <br/><br/>

        <div class="message" th:if="${message != null}" style="margin-bottom: 30px;">
            <p th:text="${message}"/>
            <br/><br/>
        </div>

        <!-- Gutscheinfilter anzeigen -->
        <div class="title">Gutscheinfilter</div>
        <form>
            <table style="width: 100%;">
                <tr>
                    <td><label>Gutschein Status:</label></td>
                    <td>
                        <select style="width: 150px;" onchange="window.location='?isVoucherReedemedFilter=' + this.value;">
                            <option value="true" th:attr="selected=${isVoucherReedemedFilter ? 'true' : 'false'}">Eingelöst</option>
                            <option value="false" th:attr="selected=${isVoucherReedemedFilter ? 'false' : 'true'}">Nicht eingelöst</option>
                        </select>
                    </td>
                </tr>
            </table>
        </form>
        <br/><br/>

        <!-- Gutscheine anzeigen -->
        <div>
            <div class="title">Gutscheine anzeigen</div>
            <table class="formated">
                <tr>
                    <th>Nummer</th>
                    <th>Betrag</th>
                    <th>Eingelöst</th>
                </tr>
                <tr th:each="voucher : ${vouchers}"
                    th:with="vchr=${voucher}">
                    <td><span th:text="${vchr.getCode()}"></span></td>
                    <td class="center"><span th:text="${vchr.getValue() == 0.0f ? '0,00' : #numbers.formatDecimal(vchr.getValue(), 0, 'POINT', 2, 'COMMA')}"></span>&nbsp;€</td>
                    <td class="center"><span th:text="${vchr.isReedemed() ? 'Ja' : 'Nein'}"></span></td>
                </tr>
            </table>
        </div>
        <br/><br/>

        <!-- Gutschein erzeugen -->
        <div>
            <div class="title">Gutschein erzeugen</div>
            <form method="post">
                <table style="width: 100%;">
                    <tr>
                        <td><label>Betrag:</label></td>
                        <td><input type="text" name="amount"/></td>
                        <td><input type="submit" value="Gutschein erzeugen"></td>
                    </tr>
                </table>
            </form>
        </div>

    </div>

    <!-- right side info-box -->
    <div id="nav-right" class="sidenav" th:include="layout/sidebarAdmin"></div>
</div>
</body>
</html>
